In [1]:
from wrangle import *

In [2]:
tb = wrangle_tb()
tb.head()

,country,region,year,estimated_total_pop,estimated_cases_per_100k,estimated_cases,estimated_new_case_per_100k,estimated_new_cases,estimated_mortality_per_100k,estimated_deaths
384,Bangladesh,SEA,1990,107385847,504.0,540000.0,226.0,240000.0,80.0,86000.0
385,Bangladesh,SEA,1991,109934590,501.0,550000.0,225.0,250000.0,80.0,87000.0
386,Bangladesh,SEA,1992,112430968,499.0,560000.0,224.0,250000.0,79.0,89000.0
387,Bangladesh,SEA,1993,114897543,500.0,570000.0,224.0,260000.0,79.0,90000.0
388,Bangladesh,SEA,1994,117369492,498.0,580000.0,225.0,260000.0,78.0,92000.0